@import "../../mixins.scss";

.searchModal {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  .searchBar {
    box-sizing: border-box;
    width: min(100%, 100vw);
    padding: 2vh 4vw;
    display: flex;
    background-color: white;
    animation: dropdown 0.3s ease-out;
    @include md {
      padding: 2vh 8vw;
    }
    &::after {
      content: "";
      height: 100vh;
      width: 100vw;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -5;
      // background-color: rgba(0, 0, 0, 0.9);
      background-color: var(--black3);
      opacity: 0.9;
      -webkit-backdrop-filter: blur(8px);
      backdrop-filter: blur(8px);
    }
    & input {
      flex-grow: 1;
      border: 0;
      &:focus {
        outline: none;
      }
    }
    & svg {
      margin: 0 10px;
      font-size: 1.2em;
      color: darkslategrey;
      cursor: pointer;
    }
  }
  .searchSuggestion {
    margin-top: 13px;
    display: grid;
    place-content: center;
    row-gap: 13px;
    @include md {
      margin-top: 12px;
      row-gap: 12px;
    }
    .resultItem {
      width: 300px;
      padding: 5px;
      display: flex;
      color: black;
      background-color: white;
      border-radius: 5px;
      & > img {
        height: 55px;
        aspect-ratio: 1 / 1.1;
        border-radius: 5px;
      }
      .resultContent {
        margin-left: 10px;
        display: flex;
        gap: 5px;
        flex-direction: column;
        justify-content: center;
        & > h4 {
          margin: 0;
          @include ellipsis(1);
        }
        & .resultInfo {
          display: flex;
          align-items: center;
          font-size: 0.8rem;
          & > svg {
            margin-right: 3px;
            margin-bottom: 3px;
            color: var(--orange);
          }
          & > .rating {
            color: var(--orange);
          }
          & .date {
            margin-left: 10px;
            color: gray;
          }
        }
      }
    }
  }
}

@keyframes dropdown {
  0% {
    top: 0;
  }
  100% {
    top: "100%";
  }
}
