@import "../../mixins.scss";

.cardItem {
  display: flex;
  flex-direction: column;
  & .imageContainer {
    width: 100%;
    aspect-ratio: 2 / 3;
    position: relative;
    cursor: pointer;
    transition: opacity 0.2s ease;
    & > .lazy-load-image-background {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      overflow: hidden;
      &:hover {
        opacity: 0.6;
      }
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: transform 0.2s ease;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    & > .ratingContainer {
      width: 25%;
      position: absolute;
      left: 0px;
      bottom: -12px;
    }
  }
  & > h5 {
    width: 100%;
    margin: 20px 0 5px;
    font-size: 0.9em;
    font-weight: 600;
    @include ellipsis(1);
    @include md {
      font-size: 1em;
    }
  }
  & > .date {
    font-size: 0.8em;
    opacity: 0.5;
    @include md {
      font-size: 0.9em;
    }
  }
}

.small {
  min-width: 130px;
  @include md {
    min-width: 150px;
  }
  .imageContainer > .ratingContainer {
    width: 25%;
  }
}
.large {
  width: 45%;
  max-width: 250px;
  @include sm {
    width: 28%;
  }
  @include lg {
    width: 22%;
  }
  .imageContainer > .ratingContainer {
    width: 18%;
  }
}
