@import "../../mixins.scss";

.list {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  & > * {
    padding: 0 5vw;
  }
  .listHeader {
    margin-bottom: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & h3 {
      margin: 0;
      font-weight: 500;
      font-size: 1.5em;
    }
  }
  .arrow {
    font-size: 30px;
    color: white;
    position: absolute;
    top: 44%;
    transform: translateY(50%);
    cursor: pointer;
    opacity: 0.5;
    z-index: 1;
    display: none;
    @include md {
      display: block;
    }
    &:hover {
      opacity: 0.8;
    }
  }
  .carouselLeftNav {
    left: -20px;
  }
  .carouselRightNav {
    right: -20px;
  }
  .listItemContainer {
    position: relative;
    margin-bottom: 12vh;
    display: flex;
    gap: max(3vw, 15px);
    overflow-x: auto;
  }
}
